[Unit]
Description=A股量化数据服务
Documentation=https://github.com/jiangjiuwen/quent_service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/quant_service_prod/current
EnvironmentFile=/home/ubuntu/quant_service_prod/prod.env
ExecStart=/home/ubuntu/quant_service_prod/venv/bin/python /home/ubuntu/quant_service_prod/current/main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
